<section id="home">
  <div class="container-fluid">
    <h1 class="text-center">Organic Fruits</h1>
    <p class="text-center">Organic Fruits are produced through farming practices that only use natural substances. <br>This means avoiding all artificial chemicals, hormones, antibiotics or genetically modified organisms (GMOs).</p>
  </div>
</section>

<!-----About------>
<section id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12 my-2">
        <img src="assets/about.png" class="img-fluid">
      </div>
      <div class="col-lg-6 col-md-6 col-12 p-lg-5 p-2 my-5">
        <h1>ABOUT US</h1>
        <p> Organic food may contain more antioxidants and nutrients than regular food, although the evidence is mixed. Consuming organic food may also reduce your exposure to artificial chemicals, hormones and antibiotic-resistant bacteria. However, it often costs more and may spoil faster. Additionally, it’s not clear if going organic has additional health benefits. Whether to buy organic is a choice you should make based on your personal preferences and values. Organic food may contain more antioxidants and nutrients than regular food, although the evidence is mixed. Consuming organic food may also reduce your exposure to artificial chemicals, hormones and antibiotic-resistant bacteria. However, it often costs more and may spoil faster. Additionally, it’s not clear if going organic has additional health benefits. Whether to buy organic is a choice you should make based on your personal preferences and values.</p>
      </div>
    </div>
  </div>
</section>
