<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Village Shop</h1>
      <p class="lead">Here fresh fruits are available</p>
      <hr class="my-4">
      <p>You can buy at cheaper prise</p>

    </div>
  </div>
</div>
