<section id="product">
  <div class="tab">
    <button class="tablinks" onclick="openAction(event, 'Fruits')" id="defaultOpen">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
</svg> Fruits
    </button>
    <button class="tablinks" onclick="openAction(event, 'Cart')">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg> Cart
    </button>
    <button class="tablinks" onclick="openAction(event, 'Checkout')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
  <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
</svg> Checkout
    </button>
  </div>

  <div id="Fruits" class="tabcontent">
    <div class="container m-5">
      <h1 class="text-center my-5">OUR PRODUCTS</h1>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/apple.jpeg" class="card-img-top" alt="Apple">
            <div class="card-body text-center">
              <h5 class="card-title">Apple</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/banana.jpeg" class="card-img-top" alt="Banana">
            <div class="card-body text-center">
              <h5 class="card-title">Banana</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/mango.jpeg" class="card-img-top" alt="Mango">
            <div class="card-body text-center">
              <h5 class="card-title">Mango</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/melon.jpeg" class="card-img-top" alt="Water Melon">
            <div class="card-body text-center">
              <h5 class="card-title">Water Melon</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/orange.jpeg" class="card-img-top" alt="Orange">
            <div class="card-body text-center">
              <h5 class="card-title">Orange</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/papaya.jpeg" class="card-img-top" alt="Papaya">
            <div class="card-body text-center">
              <h5 class="card-title">Papaya</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/kiwi.jpeg" class="card-img-top" alt="Kiwi">
            <div class="card-body text-center">
              <h5 class="card-title">Kiwi</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/pine.jpeg" class="card-img-top" alt="Pine Apple">
            <div class="card-body text-center">
              <h5 class="card-title">Pine Apple</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/strawberry.jpeg" class="card-img-top" alt="Strawberry">
            <div class="card-body text-center">
              <h5 class="card-title">Strawberry</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Cart" class="tabcontent">
    <section>
      <table class="table table-hover">
        <caption>Products in Cart</caption>

          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Fruits</th>
            <th scope="col">Quantity</th>
            <th scope="col">Rate</th>
            <th scope="col">Amount</th>
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>1 Kg</td>
            <td>$30</td>
            <td>$30</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Banana</td>
            <td>2 Kg</td>
            <td>$15</td>
            <td>$30</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Kiwi</td>
            <td>1 Kg</td>
            <td>$30</td>
            <td>$30</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Mango</td>
            <td>2 Kg</td>
            <td>$30</td>
            <td>$60</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Water Melon</td>
            <td>1 Kg</td>
            <td>$40</td>
            <td>$40</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Orange</td>
            <td>3 Kg</td>
            <td>$30</td>
            <td>$90</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Papaya</td>
            <td>1 Kg</td>
            <td>$50</td>
            <td>$50</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Pine Apple</td>
            <td>4 Kg</td>
            <td>$50</td>
            <td>$200</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Strawberry</td>
            <td>1 Kg</td>
            <td>$50</td>
            <td>$50</td>
          </tr>

      </table>
    </section>
  </div>

  <div id="Checkout" class="tabcontent">

  </div>

  <script>
    function openAction(evt, actionName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(actionName).style.display = "block";
      evt.currentTarget.className += "active";
    }

      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
  </script>
</section>
