<section id="product">
  <div class="tab">
    <button class="tablinks" onclick="openAction(event, 'Fruits')" id="defaultOpen">Fruits</button>
    <button class="tablinks" onclick="openAction(event, 'Cart')">Cart</button>
    <button class="tablinks" onclick="openAction(event, 'Checkout')">Checkout</button>
  </div>

  <div id="Fruits" class="tabcontent">
    <div class="container m-5">
      <h1 class="text-center my-5">OUR PRODUCTS</h1>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/apple.jpeg" class="card-img-top" alt="Apple">
            <div class="card-body text-center">
              <h5 class="card-title">Apple</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/banana.jpeg" class="card-img-top" alt="Banana">
            <div class="card-body text-center">
              <h5 class="card-title">Banana</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/mango.jpeg" class="card-img-top" alt="Mango">
            <div class="card-body text-center">
              <h5 class="card-title">Mango</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/melon.jpeg" class="card-img-top" alt="Water Melon">
            <div class="card-body text-center">
              <h5 class="card-title">Water Melon</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/orange.jpeg" class="card-img-top" alt="Orange">
            <div class="card-body text-center">
              <h5 class="card-title">Orange</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/papaya.jpeg" class="card-img-top" alt="Papaya">
            <div class="card-body text-center">
              <h5 class="card-title">Papaya</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/kiwi.jpeg" class="card-img-top" alt="Kiwi">
            <div class="card-body text-center">
              <h5 class="card-title">Kiwi</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/pine.jpeg" class="card-img-top" alt="Pine Apple">
            <div class="card-body text-center">
              <h5 class="card-title">Pine Apple</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="card">
            <img src="assets/strawberry.jpeg" class="card-img-top" alt="Strawberry">
            <div class="card-body text-center">
              <h5 class="card-title">Strawberry</h5>
              <a href="#" class="btn signin">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Cart" class="tabcontent">
  </div>

  <div id="Checkout" class="tabcontent">
    
  </div>

  <script>
    function openAction(evt, actionName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(actionName).style.display = "block";
      evt.currentTarget.className += "active";
    }

      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
  </script>
</section>
