@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* nav starts */
#navbar {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;
  padding: .5rem 5rem;
  box-shadow: 5px 5px 20px rgba(0,0,0,.5);
  background: black;
}
.navbar .navbar-brand{
  font-size: 25px;
  font-weight: 800;
  color: #3AACAC !important;
}
#navbarSupportedContent a{
  color: #fff;
  border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
  border-bottom: 2px solid #3AACAC;
}

.dropdown-menu {
  background: #3AACAC;
   min-width: 150px;
}

/*--Home--*/
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home {
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)), url(jumbo.jpeg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
}
#home h1 {
  font-size: 100px;
  color: white;
  letter-spacing: 1px;
  font-family: verdana, Geneva, Tahoma, sans-serif;

}
#home p {
  font-size: 18px;
  color: white;
}

/*About*/
#about {
  background: linear-gradient(to right, pink, #00bfff 100%);
}
#about h1 {
  font-weight: 800;
  font-size: 50px;
}

/*product-tab*/
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  min-width: 20vh;
  height: 100vh;
  overflow: auto;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: 100vh;
  overflow: auto;
}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/*products*/
#product {
  background: white;
}
#product h1 {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
}
#product img {
  width: 200px;
  height: 200px;
  margin: 15px;
}
.card {
  width: 250px;
  height: 350px;
  background: white !important;
  border-box: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  transition: .2s;
}

.signin{
  background: #3AACAC !important;
  color: white !important;
  justify-content: center;
}

/*newlogin*/
.box {
  width: 350px;
  height: 400px;
  background: white !important;
  border: 1px solid #3949AB;
  border-radius: 20px;
  margin: 20px 60px;
  transition: .2s;
}

form {
  display: flex;
  flex-direction: column;
}
#login input {
  height: 35px;
	width: 300px;
	padding: 0 5px;
	font-size: 20px;
	outline: none;
	border: 1px solid silver;
  border-radius: 5px;
}
.login_form #email_error,
.login_form #pass_error{
	margin-top: 5px;
	width: 300px;
	font-size: 10px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}
.login_form{
	padding: 20px 10px;
  justify-content: center;
}
.login_form .font{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}

.login_form .font2{
	margin-top: 50px;
}
.label{
	padding: 20px 80px;
	font-size: 40px;
	font-weight: bold;
	color: #130f40;
}
.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 100px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1A237E;
	border-radius: 10px;
	border: 1px solid #3949AB;
	transition: .5s;
  justify-content: center;
}
.login_form button:hover{
	background: #151c6a;
}

html,
body {
  height: 100%;
}

/* Sticky Footer Classes */
footer {
  flex-shrink: none;
}

/*Table*/
table, th, td {
  justify-content: center;
  text-align: center;
  border-collapse: collapse;
}
table {
  width: 600px;
  height: 400px;
  background: white !important;
  border: 1px solid silver;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 20px 60px;
  transition: .2s;
}
